{%extends 'base.html'%}

{%block main_block%}

<!-- about us -->
<section class="bg-gray-100" id="aboutus">
    <div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
            <div class="max-w-lg">
                <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center">About Us</h2>
                <p class="mt-4 text-gray-600 text-lg">
                    Car Rental is one of the most trusted car rental services as Indus Motors, 
                    the top Maruti dealership in India, promotes it. 
                    The rent-a-car service provider offers an outstanding model and a wide variety of vehicle options at the most competitive rates. 
                    At Car Rental, we allow you to enjoy flexibility with respect to start and endpoints. 
                    You can book cars on an hourly, daily, weekly, monthly basis. 
                    Moreover, we provide door-step delivery, believe in complete transparency, 
                    and adhere strictly to business ethics.</p>
            </div>
            <div class="mt-12 md:mt-0">
                <img src="https://images.unsplash.com/photo-1531973576160-7125cd663d86" alt="About Us Image"
                    class="object-cover rounded-lg shadow-md">
            </div>
        </div>
    </div>
</section>

<!-- footer -->
<section>
    <footer class="bg-gray-200 text-black py-4 px-3">
        <div class="container mx-auto flex flex-wrap items-center justify-between">
            <div class="w-full md:w-1/2 md:text-center md:mb-4 mb-8">
                <p class="text-xs text-black-400 md:text-sm">Copyright 2024 &copy; All Rights Reserved</p>
            </div>
            <div class="w-full md:w-1/2 md:text-center md:mb-0 mb-8">
                <ul class="list-reset flex justify-center flex-wrap text-xs md:text-sm gap-3">
                    <li><a href="#contactUs" class="text-black-400 hover:text-white">Contact</a></li>
                    <li class="mx-4"><a href="/privacy" class="text-black-400 hover:text-white">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>
</section>
{%endblock%}