{%extends 'base.html'%}

{%block main_block%}

<section class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white">
    <!-- Title -->
    <div
      class=" text-center pb-1 px-2 mx-4 rounded-md text-3xl font-semibold border-b-2 border-blue-600 dark:border-b-2 ">
      Services</div>
  
    <div class="w-full h-full flex flex-col items-center md:py-4 py-10">
      <!-- Col - 2 -->
      <div
        class="xl:w-[80%] sm:w-[85%] w-[90%] mx-auto flex md:flex-row flex-col lg:gap-4 gap-2 justify-center lg:items-stretch md:items-center mt-4">
        <!--  -->
        <img class="md:w-[50%] w-full md:rounded-t-lg rounded-sm" src="https://images.pexels.com/photos/618079/pexels-photo-618079.jpeg?auto=compress&cs=tinysrgb&w=600" alt="billboard image" />
  
        <div class="md:w-[50%] w-full bg-gray-100 dark:bg-gray-900 dark:text-gray-400 md:p-4 p-0 rounded-md">
          <h2 class="text-3xl font-semibold text-gray-900 dark:text-white">Airport Transfer In Dubai</h2>
          <p class="text-md mt-4">Dubai International Airport (DXB) lies in the northern section of the city and is within easy reach of Downtown and its various amenities.

            From the airport, most areas of Dubai can be reached within a 20 to 30-minute drive. Dubai has one of the top 3 most popular airports in the world and is the major hub for Emirates airlines, a leading international carrier. The airport receives nearly 90 million passengers throughout the year - and this number has been consistently growing year after year.
            
            For visitors to Dubai and the wider region, traveling to and from the airport is the easiest with specialist airport transfers. Many business and leisure travelers can benefit from luxury airport transfer in Dubai. Not only is airport transfer affordable, it provides transfer from the airport to the hotel and back in a relaxed, stress-free atmosphere. From airport to hotel and back again, Renty is the number one choice in Dubai.</p>
        </div>
  
      </div>
      <!-- Col - 3 -->
      <div
        class="xl:w-[80%] sm:w-[85%] w-[90%] mx-auto flex md:flex-row flex-col flex-col-reverse lg:gap-4 gap-2 justify-center lg:items-stretch md:items-center mt-6">
        <!--  -->
        <div class="md:w-[50%] w-full bg-gray-100 dark:bg-gray-900 dark:text-gray-400 md:p-4 p-0 rounded-md">
          <h2 class="text-3xl font-semibold text-gray-900 dark:text-white">Features of CarRental Dubai airport transfers</h2>
  
          <p class="text-md mt-4">Dubai is known worldwide for its luxurious, glamorous lifestyle. This is why the city has many 5-star hotels, exclusive neighborhoods, and first-rate facilities. Renty can help business people look successful and wealthy, and give recreational travelers a taste of Dubai’s high-life. Although a private airport chauffeur may appear expensive at first glance, in reality it is affordable. At Renty, we can supply many types of cars, including economy vehicles. This ensures personal airport transfer is well within the reach of most types of traveler.

            But there are many other benefits of an airport pick up service. A car with a driver is more convenient, relaxed, and takes less hassle than using busy public transport. This is especially important when clients have large amounts of luggage to attend to. Using the bus or tram is extremely difficult in these circumstances. There is also no need to worry about driving around an unfamiliar city, and no need to worry about toll gates, where to park, and the potential for parking fines. Our airport transfer service will handle all this and take the client to their hotel or other location in complete luxury. </p>
        </div>
        <!--  -->
        <img class="md:w-[50%] w-full md:rounded-t-lg rounded-sm" src="https://images.pexels.com/photos/325193/pexels-photo-325193.jpeg?auto=compress&cs=tinysrgb&w=600" alt="billboard image" />
  
      </div>
    </div>
  </section>
  
  <!-- Photo by '@candjstudios' & '@framesforyourheart' on Unsplash -->

{%endblock%}